{% extends 'base.html.twig' %}
{% block body %}
        <script>
            window.initialState = {
                {% if jsonContent is defined %}
                {{ contentClassName }}: {{ jsonContent|raw }},
                className: '{{ contentClassName}}'
                {% endif %}
                {% if jsonCategories is defined %}
                'categories': {{ jsonCategories|raw }}
                {% endif %}
            }
        </script>
    <div id="app"></div>
{% endblock %}
