parameters:
    database_host: db
    database_port: ~
    database_name: crij
    database_user: root
    database_password: mysql

    mailer_transport: smtp
    mailer_host: smtp:2525
    mailer_user: smtp
    mailer_password: smtp

    secret: ThisTokenIsNotSoSecretChangeIt
