parameters:
    database_host: db
    database_port: ~
    database_name: crij
    database_user: root
    database_password: mysql

    mailer_transport: smtp
    mailer_host: smtp:2525
    mailer_user: smtp
    mailer_password: smtp

    secret: ThisTokenIsNotSoSecretChangeIt

    admin_password: $2y$10$h4X.KOEB5QG5Nr27zSUi7uO3CmxF6/dpD09WQ6RddUCcTkP6rWqrO #admin