@import '../../Settings';

#info-box {
    padding: 50px;
    a {
        display: block;
        margin-bottom: 20px;
        font-size: 28px;
        color: #999999;
        text-decoration: none;
        text-align: center;
    }
    p {
        max-width: $max-width;
        margin: 0 auto;
        text-align: center;
    }
}