@import '~include-media/dist/_include-media';
@import '../../Settings';

#category {
    .box {
        position: relative;
        z-index: 0;
        .slider {
            position: relative;
            z-index: 0;
        }
        .content {
            flex: 1;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            max-width: map-get($breakpoints, large);
            margin: 0 auto;
            .search {
                position: absolute;
                top: -180px;
                right: 40px;
                width: 100%;
                max-width: 300px;
                z-index: 1;
                order: 1;
                @include media('<large') {
                    position: relative;
                    top: auto;
                    right: auto;
                    padding: 0 40px 40px;
                    max-width: none;
                }
                @include media('<medium') {
                    padding: 0 20px 40px;
                }
                input {
                    width: 100%;
                    height: 40px;
                    text-align: center;
                    outline: none;
                    border: none;
                    border-radius: 20px;
                }
            }
            .tile {
                order: 2;
            }
        }
    }
}