@import '~include-media/dist/_include-media';
@import '../../Settings';

#header {
    display: flex;
    padding: 0 40px;
    .left,
    .right {
        display: flex;
        align-items: center;
    }
    .left {
        img {
            height: 60px;
        }
    }
    .right {
        flex: 1;
        justify-content: flex-end;
        .links {
            display: flex;
            margin-right: 40px;
            li {
                a {
                    display: block;
                    padding: 20px;
                    color: #999999;
                    text-decoration: none;
                    text-align: center;
                    transition: 0.2s;
                    &:hover {
                        background: $color-orange;
                        color: #ffffff;
                        svg {
                            color: #ffffff;
                        }
                    }
                    svg {
                        display: block;
                        margin: 0 auto 10px;
                        font-size: 30px;
                        color: $color-orange;
                        transition: 0.2s;
                    }
                }
            }
        }
        .socials {
            margin-right: 40px;
            span {
                display: block;
                margin-bottom: 10px;
                color: #999999;
                text-align: center;
            }
            ul {
                display: flex;
                li {
                    margin-right: 10px;
                    &:last-child {
                        margin-right: 0;
                    }
                    svg {
                        font-size: 25px;
                    }
                }
            }
        }
        .logo-ij {
            height: 40px;
        }
    }
}