@import '~include-media/dist/_include-media';
@import '../../Settings';

#header {
    display: flex;
    height: 100px;
    padding: 0 40px;
    z-index: 1;
    @include media('<xlarge') {
        .socials {
            display: none;
        }
    }
    @include media('<medium') {
        padding: 0 20px;
    }
    .left,
    .right {
        display: flex;
        align-items: center;
    }
    .left {
        img {
            height: 50px;
        }
    }
    .right {
        flex: 1;
        justify-content: flex-end;
        .menu {
            display: flex;
            align-items: center;
            margin-right: 40px;
            @include media('<xlarge') {
                display: none;
                justify-content: flex-end;
                position: absolute;
                top: 100px;
                right: 0;
                left: 0;
                padding: 0 20px;
                margin-right: auto;
                background: $color-orange;
                z-index: 1;
                &.active {
                    display: flex;
                }
            }
            @include media('<medium') {
                justify-content: center;
            }
            li {
                a {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    height: 100px;
                    padding: 0 20px;
                    color: #ffffff;
                    text-decoration: none;
                    text-align: center;
                    @include media('>=xlarge') {
                        color: #999999;
                        transition: 0.2s;
                        &:hover {
                            color: #ffffff;
                            background: $color-orange;
                            svg {
                                color: #ffffff;
                            }
                        }
                    }
                    svg {
                        display: block;
                        margin: 0 auto 10px;
                        font-size: 28px;
                        color: #ffffff;
                        @include media('>=xlarge') {
                            color: $color-orange;
                            transition: 0.2s;
                        }
                    }
                }
            }
        }
        .toggleMenu {
            color: #999999;
            text-decoration: none;
            text-align: center;
            cursor: pointer;
            @include media('>=xlarge') {
                display: none;
            }
            svg {
                display: block;
                margin: 0 auto 10px;
                font-size: 28px;
                color: $color-orange;
                transition: 0.2s;
            }
        }
        .logo-ij {
            @include media('<xlarge') {
                margin-right: 40px;
            }
            @include media('<medium') {
                margin-right: 20px;
            }
            img {
                height: 50px;
                &.desktop {
                    @include media('<medium') {
                        display: none;
                    }
                }
                &.mobile {
                    @include media('>=medium') {
                        display: none;
                    }
                }
            }            
        }
    }
}