@import '~include-media/dist/_include-media';
@import '../../Settings';

#nav {
    ul {
        display: flex;
        li {
            flex: 1;
            a {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 50px;
                color: #ffffff;
                text-decoration: none;
                text-align: center;
                &.news {
                    background: $color-black;
                    
                }
            }
        }
    }
}